.animation {

    .contenair {
        position: absolute;
        top: 4%;
        left: 6%;

    }


    .l1 {
        width: 250px;
        height: 4px;
        background-color: $color-2;

    }

    .l2 {
        width: 150px;
        height: 3px;
        background-color: $color-2;
        margin-top: 5px;
    }

    .container-first {
        margin-top: 250px;
        color: $color-2;
        font-size: 50px;
        font-family: abril fatface, sans-serif;
    }

    .container-btns {
        padding-top: 30px;



    }

    .first-btn {
        font-size: 20px;
        padding: 10px;
        width: 15%;
        height: 50px;
        font-family: abril fatface, sans-serif;
        background-color: transparent;
    }

    .seconde-btn {
        font-size: 20px;
        padding: 10px;
        margin-left: 20px;
        width: 15%;
        height: 50px;
        font-family: abril fatface, sans-serif;
        background-color: transparent;

    }

    button:hover {
        background-color: $color-1;
        cursor: pointer;
    }

    .icone {

        position: absolute;
        top: 40%;
        right: 4%;
        color: $color-2;

        cursor: pointer;
    }

    i {
        display: block;
        width: 20%;
        height: 90px;

    }

    .fa-brands {

        height: 90px;
        font-size: 40px;
    }

    .icone {
        animation-duration: 2s;
        animation-name: bounce;
    }

    @keyframes bounce {
        from {
            margin-top: 100%;
            width: 300%;
        }

        to {
            margin-top: 0%;
            width: 100%;
        }

    }

   
}